@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Workbench&display=swap');







body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .section1{
  min-height: 100vh;
  background-image: url(./grid-background-dark-ct.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
.image-box {
  width: 200px;
  height: 200px;
  /* border: 3px solid; */
  border-radius: 50%;
  overflow: visible;
  position: relative;
  /* animation: flow 6s infinite ease-in-out; */
}

.image-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border: 3px solid rgb(187, 186, 186);
  animation: flow 8s infinite ease-in-out;
  box-shadow: 0 0 20px rgba(205, 204, 204, 0.747);
}

@keyframes flow {
  0% {
    border-radius: 50%;
  }
  25% {
    border-radius: 45% 55% 55% 45% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
  }
  75% {
    border-radius: 55% 45% 45% 55% / 40% 50% 30% 60%;
  }
  100% {
    border-radius: 50%;
  }
}


.texthello{
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.landingpage {
  background-image: url(./images/pexels-auto-records-10394772-removebg-preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}